.basic-form {
  .form-item {
    @include marginBottom(8px);
  }
}

.order-heading {
  color: #0e78d8;
}

.form__submit {
  background-color: #0e78d8;
  border-radius: $border-radius-xl;
  height: 48px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
}

.remove__btn {
  background-color: red;
  border-radius: $border-radius-xl;
  height: 48px;
  //   width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
}

.add-item__btn {
  background-color: #0e78d8;
  border-radius: $border-radius-xl;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 120px;
  border: none;
  font-size: 16px;
  @include marginTop(15px);
}

.sender-wrapper,
.deliver-wrapper,
.detail-wrapper {
  border-radius: $border-radius-xxl;
}

.collapse-box-wrapper {
  .collapse-arrow {
    width: 44px;
    min-width: 44px;
    height: 44px;

    .icon {
      width: 24px;
      height: 24px;
      fill: $black-color;
      transition: all 0.2s linear;
    }

    &.expand {
      // background-color: $black;

      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
